:root {
  --main-title-color: #2e2f42;
  --secondary-title-color: #ffffff;
  --accent-color: #e7e9fc;
  --logo-colour-first: #4d5ae5;
  --logo-colour-second: #2e2f42;
  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-sm {
  max-width: 294px;
}

@media (min-device-pixel-ratio),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bacground-imag/modal-dark-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.no-scroll {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

address {
  font-style: normal;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Header Main/Portfolio */
.header {
  border-bottom: 1px solid;
  color: #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.header-tel:hover,
.header-tel:focus {
  color: #404bbf;
}

.header-email:hover,
.header-email:focus {
  color: #404bbf;
}

.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-web {
  color: var(--logo-colour-first);
}
.logo-studio {
  color: var(--logo-colour-second);
}

.menu-burger-btn {
  position: relative;
  background: transparent;
  display: flex;
  border-color: transparent;
  color: #2e2f42;
  width: 32px;
  height: 22px;
}

.burger-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 30px;
  height: 20px;
  stroke: currentColor;
}

.header-list {
  display: flex;
  margin-left: 76px;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: var(--logo-colour-first);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.header-address {
  display: flex;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  display: flex;
  margin-left: auto;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.header-email {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Hero main*/
.hero {
  background-color: var(--main-title-color);
  background-image: var(--bg-gradient), url(../images/background-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
}

.hero-container {
  max-width: 1440px;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  margin-bottom: 48px;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--secondary-title-color);
  cursor: pointer;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Hero Portfolio */

/* Main */

.main {
  padding: 120px 0;
}
.main-container {
  box-sizing: content-box;
}
.main-tittle {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  opacity: 0;
  outline-offset: 0;
}
.main-list {
  display: flex;
  column-gap: 24px;
  align-items: center;
  justify-content: center;
}
.main-item {
  color: var(--main-title-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.main-item-wrap {
  width: 264px;
  height: 119px;
  background-color: #f4f4fd;
  border-radius: 4px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.main-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px;
}
.maint-item-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.policy-icons {
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
}

/* Main Portfolio */
/* About */
.about {
  padding-bottom: 120px;
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
  margin-bottom: 72px;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.list {
}
.about-item {
}
/* Team */
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  width: calc((100% - 72px) / 4);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px;
}
.team-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.team-designe {
  padding: 32px 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: #f4f4fd;
}

/* Customers */

.customers {
  padding: 120px 0;
}

.customers-container {
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
  margin-bottom: 72px;
}
.customers-soc-list {
  display: flex;
  gap: 24px;
}

.customers-item-wrap {
}

.customers-item {
  width: 168px;
  height: 88px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.customers-link {
  width: 168px;
  height: 88px;
  border: 1px solid currentColor;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  display: flex;
  fill: currentColor;
}

/* Footer */
.footer-container {
  display: flex;
}
.footer {
  background-color: #2e2f42;
  padding-bottom: 100px;
  padding-top: 100px;
  margin-right: auto;
  margin-left: auto;
}
.footer-logo-text {
  margin-right: 120px;
}

.footer-link {
  font-family: "Raleway" sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 264px;
  margin-top: 16px;
}

.logo-web-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-wrap {
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: #f4f4fd;
}

.footer-social {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form {
}

.footer-form-all {
  margin-left: 80px;
}

.footer-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.container-input {
  display: flex;
}

.footer-subscribe-input {
  margin-right: 24px;
  background-color: transparent;
  color: #ffffff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  width: 264px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 24px;
}

.footer-subscribe-input:focus {
  outline: none;
}

.footer-subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.input:focus {
  border-color: #4d5ae5;
}

.footer-subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  fill: #ffffff;
  padding: 9px 24px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-icon {
  margin-left: 16px;
}

.footer-subscribe-btn {
  display: flex;
  min-width: 165px;
  height: 40px;
  align-items: center;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: #31d0aa;
}

/* Hero Portfolio */
.hero-portfolio {
  padding-bottom: 120px;
  padding-top: 96px;
}

.hero-portfolio-container {
}

.hero-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: center;
}
.hero-portfolio-list-item {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.hero-btn-portfolio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  background-color: #f4f4fd;
  border: 1px solid;
  align-items: center;
  text-align: center;
  padding: 12px 24px;
  border-radius: 4px;
  border-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-portfolio:hover,
.hero-btn-portfolio:focus {
  color: #f4f4fd;
  background-color: #4d5ae5;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: #4d5ae5;
}

.hero-list-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin-top: 72px;
}
.hero-item-portfolio {
}

.portfolio-link {
  display: block;
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hero-item-title-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.hero-item-subtitle-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.hero-portfolio-text {
  border: 1px solid #e7e9fc;
  border-top: 0;
  padding: 32px 16px;
}

.portfolio-link:hover .portfolio-overlay {
  display: block;
  transform: translate(0);
}

.portfolio-link:focus .portfolio-overlay {
  display: block;
  transform: translate(0);
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image-text {
  position: relative;
  overflow: hidden;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  width: 408px;
  height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--logo-colour-first);
  fill: var(--accent-color);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: 0;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding-left: 38px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
}

.modal-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  display: block;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-self: center;
  color: #ffffff;
  margin: 0 auto;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 8px;
  display: block;
}

.title-modal-label-input {
  display: block;
  margin-bottom: 4px;
}

.text-input:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea-text {
  display: block;
  margin-bottom: 4px;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-area {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding: 10px;
  resize: none;
}

.text-input {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #8e8f99;
  display: block;
  margin-bottom: 16px;
}
.form-check-group {
  position: relative;
  margin-bottom: 24px;
}

.form-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.16;
  position: relative;
  margin-bottom: 4px;
  display: block;
}

.check-label {
  display: flex;
  align-items: center;
}

.checkbox-link {
  color: #4d5ae5;
  text-decoration-line: underline;
  margin-left: 4px;
}

.check-icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.checkbox-input:checked + .form-label > .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.menu-burger-btn {
  color: var(--brand-color);
}

.burger-icon {
  fill: rgba(46, 47, 66, 1);
}
