@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .main {
    padding: 96px 0 96px;
  }

  .main-sm {
    padding: 96px 0 96px;
  }

  .header-container {
    display: flex;
  }

  .header-navigation {
    margin-right: auto;
  }

  .menu-burger-btn {
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: auto;
    background: var(--footer-text);
    display: none;
    border-color: transparent;
    color: #2e2f42;
  }

  .burger-icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 30px;
    height: 20px;
    fill: currentColor;
  }

  .header-list {
    display: flex;
  }

  .header-email {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1;
    display: block;
    margin-bottom: 12px;
  }

  .header-adress {
  }

  .header-tel {
    display: block;
    color: var(--gray);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #434455;
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
  }

  .header-item {
    margin-bottom: 0;
  }

  .main-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    min-width: 264px;
    text-align: left;
  }

  .main-item-wrap {
    display: none;
  }

  .main-item {
    width: calc((100% - 24px) / 2);
  }

  .main-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 72px;
  }

  .contact-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bacground-imag/tablet-1x.jpg);
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }

  .team-list {
    display: flex;
    column-gap: 24px;
    row-gap: 64px;
    flex-wrap: wrap;
    max-width: 552px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media (min-device-pixel-ratio),
  (min-resolution: 192dpi),
  (min-resolution: 2dpx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bacground-imag/Dark-bg\ 2X.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-md {
    max-width: 552px;
  }
}
